@font-face {
	font-family: Iransans;
	src: url(../fonts/IranSans/IRANSansWeb.ttf);
}
@font-face {
	font-family: Byekan;
	src: url(../fonts/Bseries/BYekan.ttf);
}
@font-face {
	font-family: Bnazanin;
	src: url(../fonts/Bseries/BNazanin.ttf);
}