.swiper-container {
    float: left;
    max-width: 100%;
}

.swiper-slide img {
    width: 100%;
    height: 700px;
}
.swiper-button-prev,.swiper-button-next {
    position: absolute;
    z-index: 1000;
    float: left;
    height: 50px;
    width: 40px;
    left: 0;
    top: 50%;
    text-align: center;
    color: rgba(255,255,255,0.7);
    cursor: pointer;
}
.swiper-button-next {
    left: unset;
    right: 0;
}
.swiper-pagination {
    float: left;
    width: 100%;
    height: 40px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1000;
    text-align: center;
    .swiper-pagination-bullet {
        margin: 0px 5px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: rgba(255,255,255,0.7);
        display: inline-block;
        transition: 0.3s;
    }
    .swiper-pagination-bullet:hover {
        cursor: pointer;
    }
    .swiper-pagination-bullet-active {
        width: 10px;
        height: 20px;
        border-radius: 5px;
        margin-bottom: -5px;
        background: rgba(255,255,255,0.9);
    }
}
