// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #ffffff;
$milk: #dfdfdf;
$black: #000000;
$instagram: #C5007B;
$telegram: #35A9EC;
$whatsapp: #2aa040;
$facebook: #4064AD;
$youtube: #FF0000;
$twitter: #1C9CEA;
$linkedin : #0271AE;
