// @import url('https://fonts.googleapis.com/css?family=Nunito|Open+Sans');
@font-face {
  font-family: BNazanin;
  src: url(../fonts/Bseries/BNazanin.ttf);
}
@font-face {
  font-family: BYekan;
  src: url(../fonts/Bseries/BYekan.ttf);
}
// Variables
@import 'wishadmin/variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Main
@import 'wishadmin/main';

//Upload
@import '~dropzone/dist/dropzone.css';

// lity
@import '~lity/dist/lity.css';

@import '../../node_modules/select2/dist/css/select2.min.css';

@import "~swiper/swiper.scss";
@import 'wishadmin/pagebuiler';

// @import '../../node_modules/quill/dist/quill.snow.css';

.swiper-container {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
}
.swiper-slide {
	background-position: center;
	background-size: cover;
	background: #fff;
    height: 300px;
}
.pro-photos img{
	width: 100%;
	height: 100%;
}
@media print{
@page {
    size: A4;
    margin: 0mm ;
    orphans: 0!important;
    widows: 0!important;
}

}

h1,h2,h3,h4,h5,h6,p,th,td,a,button,input {
    font-family: BYekan;
}

#react-gallery {
    form.text-left {
        position: absolute;
    }
}

.overlay-block {
    transition: 1s;
    display: none;
    opacity: 0;
    width: 95%;
    height: 95%;
    position: fixed;
    background: $shadow-1;
    z-index: 1000;
    left: 2.5%;
    top: 2.5%;
    border-radius: 5px;
    box-shadow: 0 0 5px 0.5px #666;
}
.overlay-block.active {
    transition: 1s;
    display: block;
    opacity: 1;
}
.closer{
    color: $white;
}
.blocks-parent {
    > div {
        float: left;
        min-height: 140px;
        background: #{$trs};
        margin-top: 20px;
        > div {
            background: $sofwhite-shadow;
            height: 100%;
            float: left;
            width: 100%;
            min-height: 120px;
            transition: 0.5s;
            border-radius: 5px;
        }
        .header {
            text-align: center;
            padding: 10px;
            i {
                color: $white;
            }
        }
        .title {
            margin-top: 15px;
            font-family: BYekan;
            font-size: 16px;
            text-align: center;
            font-weight: bold;
        }
        > div:hover {
            cursor: pointer;
            transition: 0.5s;
            background: $shadow-1;
            .title {
                color: $white;
            }
        }
    }
}
#menuEditor {
    list-style: none;
    li.item {
        padding: 5px;
    }
    li {
        padding: 5px;
    }
    li.item:hover {
        background: #dfdfdf;
    }
}
.overpage {
    transition: 1s;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.5);
    display: none;
    z-index: 1900;
    padding: 10px;
}
.overpage.active {
    display: block;
}
.img-overlay {
    display: none;
}
.image-box img {
    height: 100px;
    width: 100px;
}
.dropzone {

}
