body {
    direction: rtl;
}
#left-menu {
    left: unset;
    right: 0;
}
#left-menu.collapsed
{
    left: unset;
    right: -100% !important;
}

@media screen and (max-width: 768px)
{
    #left-menu.active-mobile {
        left: unset;
        right: 0 !important;
    }
    #left-menu.collapsed
    {
        left: unset;
        right: 0 !important;
    }
}
h1,h2,h3,h4,h5,h6,form,table,textarea {
    float: right;
    text-align: right;
}
nav {
    ul {
        li {
            p {
                direction: rtl;
                text-align: right;
                font-family: BYekan !important;

            }
            a {
                text-align: right;
                font-family: BYekan !important;
            }
        }
    }
}
nav .horizental-menu li {
    p,a {
        i.opener {
            float: left;
            left: 0;
        }
        i.opened {
            transform: rotate(-90deg);
            transition: 0.3s;
        }
    }
}

.AdminSection {
    background: #ffffff;
    box-shadow: 0 0 3px 0.5px #666;
    .header {
        padding: 0px;
        h1 {
            text-align: center;
            background: rgba(0,0,0,0.1);
            padding: 10px;
        }
    }
    .content {
        padding: 30px;
        background: #ffffff;
    }
}

.navbar-top {
    direction: rtl;
    text-align: right;
}


td > form {
    width: 100%;
    text-align: center;
}
