// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import 'fonts';
@import '~font-awesome/css/font-awesome.css';
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~swiper/swiper.scss";
// Resets
html, body {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background: $white;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: right;
}
.no-sc {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 100%;
}

p, a {
    font-family: Iransans;
}

.last-price {
    color: #444444;
    text-decoration: line-through;
}

a:hover {
    text-decoration: none;
}

.rtl {
    direction: rtl;
}
header,.content,footer {
    direction: rtl;
}
a:hover { text-decoration: none; }
input[type="text"], input[type="email"], textarea, select, option, button, .btn.cart {
    font-family: Iransans;
    font-size: 16px;
}
.form-control, .input-group-prepend {
    font-family: Iransans;
}
table, .btn{
    font-family: Iransans;
}
.input-group-text {
    border-radius: 0 .25rem .25rem 0 !important;
}
.input-group > .form-control {
    border-radius: .25rem 0 0 .25rem !important;
}
// header
header {
    width: 100%;
    padding: 0px;
    direction: ltr;
    .topbar {
        width: 100%;
        height: 40px;
        background: $white;
        float: left;
        border-bottom: 1px solid #dfdfdf;
        > div {
            height: 100%;
            float: left;
            p {
                width: fit-content;
                float: left;
                font-size: 16px;
                padding: 5px 10px;
                a {
                    color: $black;
                    margin-left: 5px;
                    transition: 0.3s;
                    font-family: 'Nunito', sans-serif;
                }
                a:hover {
                    text-decoration: none;
                    color: $red;
                }
            }
        }
    }
    .navbar {
        width: 100%;
        height: 90px;
        float: left;
        background: $white;
        padding: 0px;
        > div {
            float: left;
            height: 100%;
        }
        .logo img {
            width: 150px;
            height: auto;
        }
        .menu {
            height: 100%;
        }
    }
}
ul.socialmedia, ul.social-media  {
    float: left;
    list-style: none;
    li {
        display: inline-flex;
        a {
            padding: 10px;
        }
        i {
            transition: 0.3s;
            color: $black;
            font-size: 22px;
        }
        a:hover {
            i { color: $blue; }
            i.fa-instagram { color: $instagram; }
            i.fa-facebook { color: $facebook; }
            i.fa-paper-plane { color: $telegram; }
            i.fa-whatsapp { color: $whatsapp; }
            i.fa-youtube-play, i.fa-youtube { color: $youtube; }
            i.fa-twitter { color: $twitter; }
            i.fa-linkedin { color: $linkedin; }
        }
    }
}
nav.main-menu {
    float: left;
    width: 100%;
    height: 80%;
    ul {
        direction: rtl;
        text-align: right;
        height: 100%;
        padding: 0px;
        margin: 0px;
        display: flex;
        justify-content: space-between;
        list-style: none;
        li {
            a {
                transition: 0.3s;
                font-size: 16px;
                font-family: Iransans;
				color: $black;
                padding: 15px 10px;
                margin: 15px 0px;
                float: left;
            }
			a:hover {
                text-decoration: none;
				color: $instagram;
			}
        }
    }
}

.control-panel {
    .btn {
        float: right;
        width: fit-content;
        padding: 5px;
        height: 100%;
    }
    > a, > div {
        font-family: Iransans;
        font-size: 12px;
        float: right;
        margin: 30px 10px;
        text-align: right;
        direction: rtl;
        color: #999999;
        transition-duration: 0.3s;
        > i { padding: 5px; }
    }
    > a:hover, > div:hover {
        color: $instagram;
        text-decoration: none;
    }
}

@import 'slider';

.content {
    float: left;
    padding: 0px;
    margin: 0px;
}
.section {
    float: left;
}
.banner-section {
    min-height: 250px;
    padding: 20px;
    .banner {
        height: 100%;
        float: left;
        text-align: center;
        .card {
            height: 250px;
            width: 250px;
            margin: auto;
        }
        .card-full {
            float: left;
            width: 100%;
            height: 250px;
            // background: blue;
        }
        .card, .card-full {
            transition: 0.3s;
            img {
                width: 100%;
                height: 100%;
                float: left;
                border-radius: 5px;
            }
        }
        .card:hover, .card-full:hover {
            transform: translateY(-5px) translateX(-5px);
        }
    }
}

.title-row {
    width: 100%;
    padding: 12px;
    .title {
        font-family: IranSans;
        font-weight: bold;
        font-size: 28px;
        width: 100%;
        float: left;
        text-align: center;
    }
    .underline {
        float: left;
        height: 3px;
        margin-top: 10px;
        border-radius: 20px;
        background: #333;
        text-align: center;
        padding: 0px;
    }
    .circular-icon {
        width: 100%;
        float: left;
        margin-top: -15px;
        text-align: center;
        > i {
            text-align: center;
            font-size: 16px;
            padding: 4px;;
            width: 30px;
            height: 30px;
            border: 2px solid #333;
            border-radius: 50%;
            background: $white;
        }
    }
}

.brandslider {
    background: $white;
    padding: 10px;
    direction: ltr;
    .swiper-slide {
        padding: 10px;
        transition: 0.3s;
        .cover {
            height: 100%;
            width: 100%;
            overflow: hidden;
            border-radius: 5px 5px 0 0;
            text-align: center;
            img {
                width: 60%;
                height: 60%;
                margin: auto;
                max-height: 200px;
                transition: 0.5s;
            }
        }
    }
    .swiper-slide:hover .cover img {
        transform: scale(1.2);
    }
}

.productslider, .brandslider {
    .swiper-button-prev,.swiper-button-next {
        transition: 0.3s;
        top: 35%;
        color: #333;
        background: $white;
        border-radius: 0 15px 15px 0;
        padding: 5px;
    }
    .swiper-button-next {
        border-radius: 15px 0 0 15px ;
    }
    .swiper-button-disabled {
        color: rgba(51, 51, 51, 0.5);
    }
}

.productslider {
    background: $white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    border-radius: 5px;
    padding: 10px;
    direction: ltr;
    .swiper-slide {
        min-height: 300px;
        padding: 10px;
        transition: 0.3s;
        .cover {
            height: 75%;
            width: 100%;
            max-height: 250px;
            overflow: hidden;
            border-radius: 5px 5px 0 0;
            .toolbox {
                top: 15px;
                left: 15px;
                width: 24px;
                position: absolute;
                text-align: center;
                z-index: 99;
                opacity: 0;
                transition: 0.3s;
                i {
                    font-size: 20px;
                    margin-top: 5px;
                    color: $black;
                }
                i.far.fa-heart {
                    transition: 0.3s;
                }
                i.fas.fa-heart {
                    transition: 0.3s;
                    color: #ff5151;
                }
                i:hover {
                    cursor: pointer;
                }
            }
            img {
                height: 100%;
                width: 100%;
                max-height: 200px;
                transition: 0.5s;
            }
        }
        .info {
            font-family: IranSans;
            padding: 15px;
            width: 100%;
            height: 25%;
            text-align: right;
            .book-title {
                font-size: 18px;
                width: 100%;
                float: left;
                color: #333333;
                transition: .3s;
            }
            .book-title:hover {
                color: $purple;
            }
            .book-subtitle {
                font-size: 12px;
                text-align: right;
                direction: rtl;
            }
            .generes {
                float: left;
                width: 100%;
                a {
                    float: right;
                    font-size: 10px;
                    margin: 5px 2px;
                }
            }
        }
    }
    .swiper-slide:hover {
        background: rgba(0,0,0,.1);
        .cover {
            > img {
                transform: rotate(30deg) scale(1.5);
                opacity: 0.7;
            }
            .toolbox {
                opacity: 1;
            }
        }
    }
}

footer, .footer {
    width: 100%;
    float: left;
    background: #222222;
    box-shadow: 0 0 5px 2px inset $black;
    > div {
        min-height: 200px;
        float: right;
        height: 100%;
        // background: red;
    }
    p,li,a,h1,h2,h3,h4,h5,h6,.title {
        color: $white;
        font-family: Iransans;
        font-size: 16px;
    }
    .title {
        text-align: center;
        padding: 5px;
        border-bottom: 1px solid $white;
    }
    ul > li, p {
        font-size: 14px;
        padding: 5px;
    }
    ul {
        list-style: none;
        float: right;
        padding: 0px;
        margin: 0px;
        li {
            float: left;
            width: 100%;
            a { padding: 5px; width: 100%; text-align: center; color: $white; float: left; font-size: 13px; }
        }
    }
    .phone {
        direction: ltr;
        text-align: left;
        font-size: 14px;
        i {
            font-size: 16px;
            margin: 3px;
        }
    }
    ul.social-media {
        display: inline-flex;
        li a {
            font-size: 20px;
            i {
                color: $white;
            }
        }
    }
}

// SHOP

@import 'shop.scss';

.userarea {
    background: #F1F1F1;
    float: left;
    h1,h2,h3,h4,h5,h6,p {
        font-family: Iransans;
    }
    .account {
        background: $white;
        padding: 20px;
        // min-height: 300px;
        margin-bottom: 70px;
        > div {
            float: left;
        }
        .account-menu {
            float: right;
            ul {
                margin: 0px;
                list-style: none;
                float: left;
                width: 100%;
                padding: 0px;
                li {
                    width: 100%;
                    float: left;
                    a {
                        float: left;
                        width: 100%;
                        font-family: Iransans;
                        font-size: 16px;
                        color: #333333;
                        padding: 15px;
                        border: 1px solid rgba(0,0,0,.1);
                        transition: .3s;
                        > i {
                            margin: 5px;
                        }
                    }
                }
                li > a:hover, li.active > a {
                    background: #CEA679;
                    color: $white;
                    border-color: #CEA679;
                }
            }
        }
    }
}
.breadcrumb-holder {
    direction: rtl;
    text-align: right;
    .breadcrumb-item {
        a { color: #999999; transition: 0.3s; }
        a:hover { color: #FFB197; }
    }
    .breadcrumb-item.active {
        color: #FFB197;
        font-size: 15px;
    }
    li , a {
        font-family: Iransans;
        font-size: 14px;
    }
}
.breadcrumb-item + .breadcrumb-item::before {
    padding-left: 0.5rem;
}

table tr.notpaid {
    background: rgba(219, 0, 0, .1);
}

// LOGIN FORM
.body-register{
    background: #f6f6f6;
}
.login-page-container{
    background-image: url(/images/login.svg);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-position: center;
}
.yield-container{
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.8);
    float: left;
    z-index: 99;
    top: 0px;
    left: 0px;

}
.card-register{
    background: linear-gradient($blue, $indigo, $purple);
    box-shadow: black;
    margin-top: 100px;
    input {
        transition: 2s;
        color: black;
        font-family: Iransans;
        font-size: 16px;
    }
    .card-header{
        text-align: center;
        font-size: 30px;
        font-family: Iransans;
        color: white;
    }
}
.form-group{
    a{
        color: #fff;
        margin-left: -30px;
    }
}
.card-body{
    img{
        margin: auto;
        opacity: 0.8;
    }
}

.payment-methods {
    width: 100%;
    float: left;
    background: #f6f6f6;
    box-shadow: 0 0 7px 0.5px #999999;
    padding: 10px;
    .method {
        float: left;
        width: 100%;
        padding: 5px;
        text-align: right;
        p {
            width: fit-content;
            float: right;
            margin-right: 5px;
        }
        span {
            font-family: Iransans;
            font-size: 12px;
            color: #444444;
            width: 100%;
            padding-right: 15px;
            float: right;
        }
        input {
            float: right;
        }
        input[type='checkbox'],
        input[type='radio'] {
            --active: #275EFE;
            --active-inner: #fff;
            --focus: 2px rgba(39, 94, 254, .3);
            --border: #BBC1E1;
            --border-hover: #275EFE;
            --background: #fff;
            --disabled: #F6F8FF;
            --disabled-inner: #E1E6F9;
            -webkit-appearance: none;
            -moz-appearance: none;
            height: 21px;
            outline: none;
            display: inline-block;
            vertical-align: top;
            position: relative;
            margin: 0;
            cursor: pointer;
            border: 1px solid var(--bc, var(--border));
            background: var(--b, var(--background));
            transition: background .3s, border-color .3s, box-shadow .2s;
            &:after {
                content: '';
                display: block;
                left: 0;
                top: 0;
                position: absolute;
                transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
            }
            &:checked {
                --b: var(--active);
                --bc: var(--active);
                --d-o: .3s;
                --d-t: .6s;
                --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
            }
            &:disabled {
                --b: var(--disabled);
                cursor: not-allowed;
                opacity: .9;
                &:checked {
                    --b: var(--disabled-inner);
                    --bc: var(--border);
                }
                & + label {
                    cursor: not-allowed;
                }
            }
            &:hover {
                &:not(:checked) {
                    &:not(:disabled) {
                    --bc: var(--border-hover);
                    }
                }
            }
            &:focus {
                box-shadow: 0 0 0 var(--focus);
            }
            &:not(.switch) {
                width: 21px;
                &:after {
                    opacity: var(--o, 0);
                }
                &:checked {
                    --o: 1;
                }
            }
            & + label {
                font-size: 14px;
                line-height: 21px;
                display: inline-block;
                vertical-align: top;
                cursor: pointer;
                margin-left: 4px;
            }
        }
        input[type='radio'] {
            border-radius: 50%;
            &:after {
            width: 19px;
            height: 19px;
            border-radius: 50%;
            background: var(--active-inner);
            opacity: 0;
            transform: scale(var(--s, .7));
            }
            &:checked {
            --s: .5;
            }
        }
    }
}

.introduction{
    text-align: right;
    font-family: Iransans;
    font-size: 16px;
    float: left;
    margin: 30px;
    color: $black;
}

.third-boxes {
    float: left;
    .box {
        float: right;
        font-family: Iransans;
        padding: 30px;
        .inner {
            width: 100%;
            float: left;
            box-shadow: 0 0 5px 0.5px #666666;
            border-radius: 7px 7px 0 0;
            overflow: hidden;
            background: #dfdfdf;
            .text {
                float: left;
                margin: 0px;
            }
            .cover {
                height: 300px;
                width: 100%;
                float: left;
                background: $white;
                img {
                    transition: .3s;
                    width: 100%;
                    height: 100%;
                    transform: scale(0.8);
                }
            }
            .top-title {
                float: left;
                font-size: 22px;
                width: 100%;
                text-align: center;
                padding: 5px;
                background: #dfdfdf;
                margin: 0px;
            }
            .btn {
                float: left;
                margin: 7px;
            }
        }
        .inner:hover {
            .cover img {
                transform: scale(1);
            }
        }
    }
}

.email-section {
    float: right;
    .titlec {
        float: right;
        color: #CC4A57;
        font-family: Iransans;
        font-size: 26px;
        padding: 20px;
    }
}

.contactus-section{
    width: 100%;
    height: 400px;
    float: left;
    margin-top: 20px;
    box-sizing: border-box;
    box-shadow: inset 0 0.5px 3px 0 #666;
    padding-top: 3px;
    background: #dfdfdf;
    font-family: Iransans;
    direction: rtl;
    text-align: right;
}
.contact-datas{
    height: 100%;
    float: left;
    background: #dfdfdf;
    width: 60%;
}
.backmap {
    float: left;
    height: 100%;
    width: 40%;
    background-image: url(/images/robeauty-map.png);
    background-repeat: no-repeat;
    background-size: 115% 115%;
    > div:after {
        margin-top: 5px;
        float: left;
        width: 0;
        height: 0;
        margin-left: 50%;
        content: " ";
        pointer-events: none;
        border: solid transparent;
        border-width: 20px;
        border-color: rgba(218,77,60,0);
        border-top-color: #da4d3c;
    }
    > div {
        background: #DA4D3C;
        height: 200px;
        width: 65%;
        float: left;
        margin-left: 30%;
        margin-top: 80px;
        border-radius: 5px;
        padding: 5px 15px;
        > p {
            width: 90%;
            margin-left: 10%;
            height: 25%;
            margin-top: 7%;
            float: left;
            color: #f0f0f0;
            font-family: Iransans;
            font-size: 14px;
            > span{
                float: right;
                height: 100%;
                width: 80%;
            }
            > i{
                width: 15%;
                min-width: 40px;
                text-align: center;
                height: 100%;
                float: right;
            }
        }
        > p.ads {
            margin-top: 1%;
            padding: 5px;
        }
        .btndir{
            width: 60%;
            height: 40px;
            margin-left: 20%;
            border: 1px solid #fff;
            color: #dfdfdf;
            margin-top: -5%;
            box-sizing: border-box;
            padding-top: 3%;
            border-radius: 25px;
            transition: 0.3s;
            float: left;
        }
        .btndir > i{
            margin-right: 5px;
        }
        .btndir:hover{
            transition: 0.3s;
            background: #dfdfdf;
            color: #DA4D3C;
            > i {
                display: none;
            }
        }
    }
}
.contact-datas > div {
    margin-top: 10px;
    .phone {
        direction: ltr;
    }
}
.titlec{
    font-weight: bold;
    font-size: 22px;
}
.contact-datas > div > p{
    font-size: 16px;
}
.contact-datas > div > .working-date{
    width: 150px;
    background: #c4c3c3;
    text-align: center;
    font-weight: bold;
    float: right;
}
.contact-datas > div > .working-date > .days{
    width: 100%;
    float: left;
    background: rgb(185, 185, 185);
    padding: 5px;
    direction: ltr;
}
.contact-datas > div > .working-date > .timed{
    float: left;
    width: 100%;
    margin-top: -5px;
    padding: 0px;
}

.enamad {
    background: $white;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px #c19a42;
}

// RESPONSIVE
@media screen and (max-width: 768px) {
    .mini-cart:hover .flow-cart {
        position: fixed;
        right: 0;
    }
    .navbar .logo img {
        width: 100px !important;
    }
    header .navbar {
        height: 50px;
        .menu {
            transition: 1s;
            display: none;
            opacity: 0;
            position: absolute;
            background: $white;
            overflow-y: auto;
            min-height: 0px;
            max-height: 400px;
            top: 100%;
        }
    }
    nav.main-menu {
        ul {
            display: block;
            justify-content: unset;
            float: left;
            width: 100%;
            height: auto;
            transition: 1s;
            li {
                width: 100%;
                display: block;
                float: left;
                margin: 0px;
                padding: 15px;
                a {
                    width: 100%;
                    float: left;
                    text-align: center;
                    padding: 5px;
                }
            }
        }
    }
    header .navbar .menu.active {
        display: block;
        min-height: 380px;
        opacity: 1;
        float: left;
        z-index: 9999;
    }
    header {
        .topbar {
            height: auto;
            > div p {
                width: 50%;
                text-align: center;
                margin: 0px;
            }
        }
        ul.socialmedia {
            padding: 0px;
            margin: 0px;
            width: 80%;
            margin-left: 10%;
            justify-content: space-between;
            display: flex;
        }
    }
    .control-panel {
        a, div {
            margin: 5px;
        }
    }
    .swiper-slide img {
        max-height: 350px;
    }
    .contactus-section{
        min-height: 600px;
        height: auto;
        margin-top: 0px;
        margin-bottom: 30px;
    }
    .contact-datas{
        height: 400px;
        width: 100%;
        float: left;
    }
    .backmap{
        width: 100%;
        float: left;
        height: 250px;
        margin-bottom: 50px;
        margin-top: 30px;
    }
    .backmap > div{
        height: 180px;
        margin-top: 10px;
    }
    .backmap > div:after{
        left: 50%;
        top:93.5%;
        margin-top: 30px;
    }
    .backmap > div > a.btndir{
        height: 30px;
        font-size: 12px;
        width: 70%;
    }
    .backmap > div > p{
        font-size: 10px;
        margin-top: 2%;
        width: 95%;
        margin-left: 2.5%;
    }
    .backmap > div > p.ads{
        margin-top: 0px;
    }
    .backmap > div > p > span {
        float: unset;
    }
}
.mini-cart {
    position: relative;
    span.badge {
        padding: 4px 6px;
        border-radius: 50%;
        position: absolute;
    }
    .flow-cart {
        position: absolute;
        height: auto;
        width: max-content;
        max-height: 250px;
        overflow: auto;
        z-index: 1200;
        background: #ffffff;
        cursor: auto;
        display: none;
        opacity: 0;
        transition: 0.3s;
        box-shadow: 2px 2px 5px 1px #dfdfdf;
        .cart-item {
            width: fit-content;
            img, p {
                float: right;
            }
            img {
                height: 50px;
                width: 50px;
            }
            p {
                font-size: 12px;
                margin-top: 10px;
            }
            a {
                color: #555555;
            }
            a:hover {
                color: #333333;
                transition: 0.3s;
                text-decoration: none;
            }
        }
        a.btn, a.btn > i {
            font-size: 12px;
        }
    }
    &:hover .flow-cart{
        display: block;
        opacity: 1;
    }
}

@media screen and (max-width: 500px) {
    .cart {
        overflow: auto;
    }
}

@media screen and (max-width: 360px) {
    .navbar .logo img {
        width: 75px !important;
    }
    header .topbar > div p {
        width: 100%;
        text-align: center;
        margin: 0px;
    }
}
.gallery-container {
    > div {
        transition: 0.3s;
        width: 100%;
        float: left;
        height: 250px;
        box-shadow: 0 0 5px 1px #dfdfdfdf;
        overflow: hidden;
        padding: 0;
        > img {
            width: 100%;
            height: 100%;
            cursor: pointer;
            transition: 0.3s;
        }
    }
    > div:hover {
        box-shadow: 0 0 5px 1px #dfdfdfdf;
        > img {
            transform: scale(1.1);
        }
    }
}
.video-icon {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
}
div.catalog {
    text-align: center;
    width: fit-content;
    i {
        margin-left: 5px;
    }
}

