// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import 'fonts';
@import '~font-awesome/css/font-awesome.css';
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
.loader {
    font-family: Iransans;
    font-size: 20px;
    direction: rtl;
    text-align: right;
}
.shop {
    width: 100%;
    float: left;
    direction: rtl;
    text-align: right;
    background: #F5F5F5;
    .sidebar {
        background: #E9ECEF;
        .part {
            float: right;
            width: 100%;
            padding: 10px;
            .title {
                text-align: right;
                font-family: Iransans;
                font-size: 16px;
                color: #333333;
                font-weight: bold;
            }
        }
        .part:not(:first-child) {
            border-top: 1px solid rgba(0, 0, 0, 0.1);
        }
        .category-part {
            .categories {
                padding: 5px;
                margin: 0px;
                list-style: none;
                .cat-item {
                    width: 100%;
                    float: left;
                    padding-right: 20px;
                    a {
                        width: fit-content;
                        float: right;
                        text-align: right;
                        font-family: Iransans;
                        font-size: 14px;
                        color: #FFB197;
                        padding: 5px;
                        transition: .3s;
                        text-decoration: none;
                    }
                    a:hover {
                        color: #BE1B2B;
                    }
                }
            }
        }
    }
    .shopbar {
        .product-section {
            background: $white;
            box-shadow: 0 2px 4px 0 rgba(0,0,0,.03);
            border: 1px solid #e4e4e4;
            padding: 10px;
            float: left;
            width: 100%;
            min-height: 400px;
            .product {
                float: right;
                height: 550px;
                margin-bottom: 50px;
                transition: .3s;
                padding: 10px !important;
                border-radius: 5px 5px 0 0;
                
                .down, .product-info {
                    float: left;
                    width: 100%;
                }
                .product-info {
                    padding: 0px;
                    text-align: center;
                    .undercover, .cover {
                        width: 100%;
                        // float: left;
                    }
                    .cover {
                        float: unset;
                        height: 300px;
                        width: auto;
                        max-width: 300px;
                        margin: auto;
                        border-radius: 5px 5px 0 0;
                        overflow: hidden;
                        img {
                            height: 100%;
                            width: 100%;
                            float: left;
                        }
                    }
                    .product-title, .categories, .data, .product-summary {
                        text-align: right;
                        width: 100%;
                        font-family: Iransans;
                        float: left;
                        margin: 0px;
                        padding: 5px;
                    }
                    .data {
                        text-align: left;
                        font-size: 12px;
                    }
                    .categories {
                        padding: 5px;
                        font-size: 12px;
                    }
                    .product-title {
                        font-size: 16px;
                        color: #333333;
                        transition: 0.3s;
                    }
                    .product-title:hover {
                        color: $pink;
                        text-decoration: none;
                    }
                    .product-summary {
                        font-size: 13px;
                    }
                    .undercover {
                        padding: 10px;
                    }

                }
                .down {
                    border-top: 1px solid rgba(0,0,0,.1);
                    .price {
                        font-size: 16px;
                        font-weight: bold;
                        text-align: right;
                        width: 100%;
                        font-family: Iransans;
                        float: left;
                        margin: 0px;
                        margin-top: 10px;
                        padding: 5px 10px;
                        span {
                            font-size: 14px;
                        }
                        span.badge {
                            font-size: 10px;
                        }
                    }
                    .toolbar {
                        .btn {
                            border: 1px solid $black;
                            transition: .3s;
                        }
                        .btn:hover {
                            background: $black;
                            color: $white;
                        }
                    }
                }
            }
        }
    }
    .sliders-container{
        float: right;
    }
    .top {
        height: 400px;
        // padding: 10px;
        img {
            height: 400px;
            float: left;
            width: 100%;
            height: 100%;
            transition: 0.5s;
        }
        img:hover{
            transform: scale(1.2);
        }
    }
    .thumb{
        height: 100px;
        margin-top: 50px;
        margin-bottom: 50px;
        box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.1);
        text-align: center;
        img{
            width: 100%;
            max-width: 100px;
            margin: auto;
            height: 100%;
            transition: 0.5s;
        }
        img:hover{
            transform: scale(0.9);
        }
    }
    .pr-section {
        float: right;
        font-family: Iransans;
    }
    .pro-desc {
        font-family: Iransans;
    }
    .product-info-container{
        float: right;
        padding: 8px;
        .product-properties{
            float: right;
            display: block;
            text-align: right;
            margin-top: 30px;
        }
    }
    .product-name{
        font-family: Iransans;
        font-size: 20px;
        font-weight: bold;
        color: black;
        padding: 8px;
        border-bottom: 3px solid rgb(102, 102, 102);
        text-align: right;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .product-info{
        float: right;
        h6{
            font-family: Iransans;
            font-size: 18px;
            color: black;
            display: inline;
        }
        span{
            font-family: Iransans;
            font-size: 16px;
            color: $blue;
            border-bottom: 1px dashed $blue;
            padding-bottom: 3px;
        }
    }
    .product-properties{
        .persian ul{
            text-align: right;
            font-size: large;
        }
    }
    .buy-section-container{
        float: right;
        text-align: center;
        background: #dfdfdf;
        padding: 8px;
        padding-top: 20px;
        border-radius: 15px;
        min-height: 500px;
        min-width: 300px;
        font-family: Iransans;
        li {
            text-align: right;
            font-size: 14px;
        }
        h3 {
            font-size: large;
            color: $black;
            text-align: center;
        }
        span{
            font-size: 20px;
            color: #F32013;
        }
        p {
            color: #F32013;
            font-size: 35px;
            border: 2px solid $red;
            border-radius: 8px;
            margin-bottom: 20px;
        }
        button{
            margin: 40px;
        }
        img{
            text-align: center;
            width: 110px;
            height: 110px;
            transition-duration: 0.5s;
            cursor: pointer;
        }
        img:hover{
            transform: scale(0.9);
        }

    }
    // .swiper-slide {
    //     width: 100% !important;
    // }
}
.products-section-container {
    > div {
        margin-bottom: 20px;
    }
    .pagination-ul {
        flex-direction: row-reverse;
        justify-content: center;
        li {
            font-family: Iransans;
            a {
                color: black;
            }
        }
    }
}

.price-section {
    span {
        font-size: 24px;
    }
    .last-price {
        font-size: 16px;
    }
}
