#wsh {
    .wsh-desk {
        width: 100%;
        .wsh-element {
            float: right;
            border: 1px solid #e5e5e5;
            box-sizing: border-box;
            min-height: 120px;
            padding: 5px;
            margin-bottom: 5px;
        }
        .wsh-wrap {
            margin-bottom: 25px;
        }
        .wsh-row {
            width: 100%;
            margin-bottom: 25px;
            .wsh-element-content {
                background: #FBFFFD;
                .wsh-sortable {
                    margin: 0;
                    width: 100%;
                    padding: 20px 8px 2px;
                    min-height: 50px;
                    box-sizing: border-box;
                }
            }
            .wsh-row-header {
                background: $softblue;
            }
            .wsh-element-header {
                min-height: 26px;
                overflow: hidden;
                border-bottom: 1px solid #e5e5e5;
                position: relative;
                cursor: move;
                background: $softblue;
            }
        }
    }
    .wsh-element[data-size="1"] {
        width: 99%;
    }
    .wsh-element[data-size="0.8333"] {
        width: 82.33%;
    }
    .wsh-element[data-size="0.8"] {
        width: 79%;
    }
    .wsh-element[data-size="0.75"] {
        width: 74%;
    }
    .wsh-element[data-size="0.6667"] {
        width: 65.67%;
    }
    .wsh-element[data-size="0.6"] {
        width: 59%;
    }
    .wsh-element[data-size="0.5"] {
        width: 49%;
    }
    .wsh-element[data-size="0.4"] {
        width: 39%;
    }
    .wsh-element[data-size="0.3333"] {
        width: 32.33%;
    }
    .wsh-element[data-size="0.25"] {
        width: 24%;
    }
    .wsh-element[data-size="0.2"] {
        width: 19%;
    }
    .wsh-element[data-size="0.1666"] {
        width: 15.66%;
    }
}
