
// COLOURS
$oil: #2C303B;
$darkOil: #23262F;
$white: #ffffff;
$silver: #E9EAEF;
$sofwhite: #bdbdbd;
$sofwhite-shadow: rgba(189, 189, 189,0.5);
$green: #c8ff0b;
$softblue: #dfedf8;
$trs: transparent;
$shadow-1: rgba(0, 0, 0,0.7);
$red: #c52626;
// FONTS
$open-sans: 'Open Sans', sans-serif;
$nunito: 'Nunito', sans-serif;

